<!DOCTYPE html>
<html>


<head>

  <title>Task List App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

  <header>
    <h1>Task App</h1>
  </header>

  <div class="main">
    <%= yield %>
  </div>

  <div id="primary">
    <% if flash[:message] %>
      <p class="flash-message"><%= flash[:message] %></p>
    <% end %>
  </div>

  <%= render "layouts/sidebar" %>


</body>

<footer>
<p>
  Welcome to this nifty task tracker app!

  <% if session[:user_id] %>
    <%= link_to 'Logout', logout_path %>
  <% else %>
    <%= link_to 'Login', login_path %>
  <% end %>
</p>
</footer>

</html>
